<!--マイページ画面-->

<div class="profile-container"> <!--ユーザーのプロフィールを上部に表示-->
  <h3 class="profile-name"><%= @user.name %></h3>
   <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %> <!--設定したプロフィール画像が出るように-->
  <% if @user.id == current_user.id %> <!--プロフィール編集ページへのリンク表示。ログイン状態の時のみ表示-->
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
  <% end %>
</div>

